body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: rgb(35, 154, 63);
  margin-bottom: 2rem;
  padding: 1.5rem;
}

.header-title {
  font-size: 1.5rem;
  color: rgb(33, 33, 33);
}

h1 {
  padding-bottom: 2rem;
  text-align: center;
}

.cart-image {
  width: 2rem;
  height: 2rem;
  opacity: 0.6;
  transition: 0.5s;
}

.cart-image:hover {
  opacity: 1;
}

.metroSeries {
  /*display: flex;
  overflow-y: auto;*/
  margin-bottom: 2rem;
}

.book {
  /*border: 1px solid black;*/
  width: 15rem;
  margin-right: 2rem;
  justify-content: center;
  margin-bottom: 1rem;
}

.book p {
  padding-left: 1.5rem;
  font-weight: bolder;
}

.book img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 20rem;
  width: 13rem;
  transition: 0.5s;
  border-radius: 0;
}

/*.book #addToCartButton {
  display: block;
  height: 3rem;
  width: 10rem;
  margin-left: auto;
  margin-right: auto;
  font-weight: bolder;
  border: 0;
  background-color: coral;
  margin-top: 2rem;
  margin-bottom: 1rem;
}*/

main {
  flex: 1;
}

.site-container {
  min-height: 100vh;
}

.footer {
  text-align: center;
  font-weight: bold;
  color: aliceblue;
  background-color: rgb(48, 48, 48);
  padding: 20px;
}

.book-image {
  margin-top: 2rem;
  max-width: 20rem;
}

.a {
  color: green;
  font-weight: bold;
}

.na {
  color: red;
  font-weight: bold;
}

.lc {
  max-width: 7rem;
}

.img-thumbnail {
  height: 80px;
}

.small-container {
  max-width: 600px;
}

.checkout > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}
