body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  padding: 1.5rem;
  padding-left: 5rem;
  background-color: rgb(48, 48, 48);
  font-size: 2rem;
}

header > a {
  color: aliceblue;
  text-decoration: none;
}
